.card-widget a {text-decoration:none}
form .required {color:red;}


#map {background:rgb(140, 0, 255);border-radius:5px;height:20em}

#my-input-searchbox {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  font-size: 15px;
  border-radius: 3px;
  border: 0;
  margin-top: 10px;
  width: 270px;
  height: 40px;
  text-overflow: ellipsis;
  padding: 0 1em;
}

main {min-height:60em}

form input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form select:required,
form input:required,
form textarea:required {
  border-color: red !important;
}

form .btn-submit  {color:#fff;background-image: linear-gradient(to right, #000 0%, #121212 51%, #000 100%)}
form .btn-submit:hover { background-position: right center; }

/* Uploads */

.fileinput-button {position:relative;overflow:hidden;cursor:pointer}
.fileinput-button input {position:absolute;top:0;right:0;margin:0;opacity:0}

#drop {min-height:10em;padding:20px 25px;margin-bottom:30px;border:4px dashed #c4cfdf;border-radius:3px;text-align:center}
#drop a {background-color:#15a4fa;padding:12px 26px;color:#fff;font-size:14px;border-radius:2px;cursor:pointer;display:inline-block}
#drop a:hover {background-color:#263137;color:#fff}
#drop input {display:none;border:1px solid #000}

#uploads{padding:30px;border-radius:3px;}
#uploads ul{list-style:none;margin:0;padding:0;color:#000}
#uploads ul#listdownloads li, #fileuploads ul#form-files li {border-bottom:1px solid #6FE4D2;padding:5px 0;position:relative;overflow:hidden;margin:0}
#uploads ul#listdownloads li input{display:none}
#uploads ul#listdownloads li span.text {float:left;margin-left:10px;overflow:hidden;white-space:nowrap;color:#000}
#uploads ul#listdownloads li em.size {font-size:0.85em;display:block}
#uploads ul#listdownloads li canvas{float:left;top:15px}
#uploads ul#listdownloads li span.icon{color:#000;padding:5px;raduis:50%;width:15px;height:12px;background:#000 url(images/icons.png) no-repeat;position:absolute;top:20px;right:33px;cursor:pointer}
#uploads ul#listdownloads li.working span{height:16px;background-position:0 -12px}
#uploads ul#listdownloads li.error p{color:red}



/* CHeckbox 

.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 46px;
  background: rgba(79, 46, 220, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

.cbx {display:none}

.cbx:checked + .toggle:before {
  background: #947ADA;
}
.cbx:checked + .toggle span {
  background: #4F2EDC;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
.cbx:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
  }
*/
  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"],
    input[type="radio"] {
      --active: #275efe;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, 0.3);
      --border: #bbc1e1;
      --border-hover: #275efe;
      --background: #fff;
      --disabled: #f6f8ff;
      --disabled-inner: #e1e6f9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      -webkit-transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    input[type="checkbox"]:after,
    input[type="radio"]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
      transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    }
    input[type="checkbox"]:checked,
    input[type="radio"]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    input[type="checkbox"]:disabled,
    input[type="radio"]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    input[type="checkbox"]:disabled:checked,
    input[type="radio"]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    input[type="checkbox"]:disabled + label,
    input[type="radio"]:disabled + label {
      cursor: not-allowed;
    }
    input[type="checkbox"]:hover:not(:checked):not(:disabled),
    input[type="radio"]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    input[type="checkbox"]:focus,
    input[type="radio"]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    input[type="checkbox"]:not(.switch),
    input[type="radio"]:not(.switch) {
      width: 21px;
    }
    input[type="checkbox"]:not(.switch):after,
    input[type="radio"]:not(.switch):after {
      opacity: var(--o, 0);
    }
    input[type="checkbox"]:not(.switch):checked,
    input[type="radio"]:not(.switch):checked {
      --o: 1;
    }
    input[type="checkbox"] + label,
    input[type="radio"] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  
    input[type="checkbox"]:not(.switch) {
      border-radius: 7px;
    }
    input[type="checkbox"]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      -webkit-transform: rotate(var(--r, 20deg));
              transform: rotate(var(--r, 20deg));
    }
    input[type="checkbox"]:not(.switch):checked {
      --r: 43deg;
    }
    input[type="checkbox"].switch {
      width: 38px;
      border-radius: 11px;
    }
    input[type="checkbox"].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      -webkit-transform: translateX(var(--x, 0));
              transform: translateX(var(--x, 0));
    }
    input[type="checkbox"].switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    input[type="checkbox"].switch:disabled:not(:checked):after {
      opacity: 0.6;
    }
  
    input[type="radio"] {
      border-radius: 50%;
    }
    input[type="radio"]:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      -webkit-transform: scale(var(--s, 0.7));
              transform: scale(var(--s, 0.7));
    }
    input[type="radio"]:checked {
      --s: 0.5;
    }
  }


  select option:disabled {color:#ddd}


#DataTables_Table_2{
  font-size: 13px;
}


/*
  .fixed_headers {
    width: 1000px;
    table-layout: fixed;
    border-collapse: collapse;
  }
  .fixed_headers th {
    text-decoration: underline;
  }
  .fixed_headers th,
  .fixed_headers td {
    padding: 5px;
    text-align: left;
  }
  .fixed_headers td:nth-child(1),
  .fixed_headers th:nth-child(1) {
    min-width: 200px;
  }
  .fixed_headers td:nth-child(2),
  .fixed_headers th:nth-child(2) {
    min-width: 200px;
  }
  .fixed_headers td:nth-child(3),
  .fixed_headers th:nth-child(3) {
    width: 350px;
  }
  .fixed_headers thead {
    background-color: #333;
    color: #FDFDFD;
  }
  .fixed_headers thead tr {
    display: block;
    position: relative;
  }
  .fixed_headers tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 1000px;
  }
  .fixed_headers tbody tr:nth-child(even) {
    background-color: #DDD;
  }
  .old_ie_wrapper {
    height: 300px;
    width: 750px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .old_ie_wrapper tbody {
    height: auto;
  }
  */