@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background-color: #f1f3ff;}

.container {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;

}
#card-forecast {
    background-color: #5662ec;
    color: white;
	height: 38rem;
}
h1
{
	color: #2c313c;
	margin:40px 0 60px 0;
	font-weight:300;
}

.our-team-main
{
	width:100%;
	height:auto;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	/* margin-bottom:28px; */
}
#data-card
{
	width:100%;
	height:auto;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}
#DataTables_Table_2{
    font-size: 13px;
    color: #2c313c;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;


  }
  table{
    font-family: 'Poppins', sans-serif;

  }
#card_menu {
    background-color: #e3e8f1;
    height: 12rem;
    width: 20rem;
    border-radius: 20px;
    margin-top: 20px;


}

input.btn.btn-block.btn-default.text-white {
    background-color: #4cd7ef;
}
input.btn.btn-block.btn-default.text-white:hover {
    box-shadow: 2px 2px 5px black;
}
a {
    color: #2c313c;
    text-decoration: none;

}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}
label{
    font-family: 'Poppins', sans-serif;    
    font-weight: bold;

}
select{
    font-family: 'Poppins', sans-serif;
}
input{
    font-family: 'Poppins', sans-serif;
}
.form-group {
    padding-top: 10px;
/*     padding-bottom: 10px; */
}

.md-form{
    padding-top: 10px;
    padding-bottom: 10px;
}
#card_menu:hover {
    color: #ffffff;
    box-shadow: 1px 1px 6px black;
    background-color:#1840da
}

.fa,
.far,
.fas {
    font-weight: 900;
    font-size: 60px;
    padding-bottom: 10px;

}

.form-check-label {
    margin-bottom: 3px;
    margin-right: 25px;
}

#card-info{
    background-color: #ffffff;
    height: 38rem;
    color: #385a64;
    font-weight: bold;

}

img{
    width: 150px;
    height: 135px;

}
strong{
    font-size: x-large;
}
#icon{
    padding-right: 10px;
    font-size: x-large;
}
#img_signup{
    height: 472px;

}
div.card.bg-dark.text-dark{
    border: none;

}
#card-signup{
    height: 472px;
    color: white;
    background-color: #007cff;
    font-family: 'Poppins', sans-serif;    


}
#card-login{
    height: 472px;
    color: white;
    background-color: #385a64;
    font-family: 'Poppins', sans-serif;    


}

.form-control {

    border-radius: 1.25rem !important;
}    