<%- include ("./layouts/admin/head.ejs") -%>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h2 class="h2 mb-0 text-gray-800">Tableau de bord</h2>
</div>
<%- include ("./layouts/admin/footer.ejs") -%>