<!DOCTYPE html>
<html lang="fr">

<head>

    <title>Accueil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Boutique" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/admin/css/landing_page.css" rel="stylesheet" />
    <style>


    </style>




</head>

<div>



    <header id="home">
        <div class="overlay"></div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a href="https://antennesb.fr/" class="navbar-brand" href="#home">
                    <img src="/admin/photos/logo.png" style="width: 190px; height: 100px;" alt="image" style="padding-right: 8px;">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="fa fa-bars mfa-white"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link" style="
                            margin-right: 70px;
                        " href="#overview"> <i class="fas fa-search"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="
                            margin-right: 70px;
                        " href="#overview">REPORTING </a>
                        </li>

                        <li class="nav-item">
                            <a type="button" href="mailto:adtraffic@antennereunion.fr"
                                class="btn-lg btn-default text-white" style=" background-color:#de1111 ;"><i
                                    class="fas fa-paper-plane"></i> Contact</a>
                        </li>


                    </ul>

                </div>

            </div>
        </nav>


    </header>




    <section class="our-team" id="team">
        <div class="container">
          
    
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="about-content">
                        <h1> Le Business Intelligence</h1>
                        <br>

                        <p>Vous pouvez créer , planifier et voir votre campagne en quelques clics en toute autonomie. Commencer dès maintenant !</p>
                        <br>
                        <p>La publicité digitale n’a jamais été aussi simple ! Nos équipes s’engagent à vous aider dans les démarches et vous accompagnent dans vos premiers pas en publicité.</p>
                      
    
    
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img src="/admin/photos/head.jpg" alt="image" style="padding-right: 8px;">

               
                </div>
       
            </div>
        </div>
    </section>



    <section class="our-team" id="team">
        <div class="container">
            <h2 class="">NOS SERVICES</h2>

            <hr>
            <p class="subtitle-our-team wow fadeInUp">Crée votre compagne en quelque étapes, c'est simple et facile
            </p>
    
            <div class="row">
                <div class="col-lg-6">
                    <video width="500" height="300" controls muted>
                        <source
                            src="https://www.antennereunionpublicite.re/lekub/wp-content/uploads/2019/10/SPOT_KUB_Tuto-3_16102019.mp4"
                            type="video/mp4">
                    </video>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3> Votre publicité diffusée,
                            selon votre budget.</h3>
                        <p> Avec Le KUB by Antenne Réunion, créez votre campagne dgital en seulement 4 étapes et maîtriser
                            votre budget, </p>
                        <br>
                        <p> La publicité digitale n’a jamais été aussi simple ! Nos équipes s’engagent à vous aider dans les
                            démarches et vous accompagnent dans vos premiers pas en publicité.</p>
                        <br><br>
    
                        <a class="main-btn mt-25 m4" href="https://www.antennereunionpublicite.re/lekub/">En savoir plus <i
                                class="fas fa-arrow-right"></i></a>
    
                    </div>
                </div>
            </div>
        </div>
    </section>






    <div class="gradient-shadow"></div>
    <div class="container shadow-box">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dictum suscipit nulla, ac faucibus neque
            pulvinar nec. Proin condimentum, risus at venenatis ultricies, nulla nibh gravida sem, auctor consectetur
            leo orci a nulla.</p>
        <p>Quisque nec dapibus odio, ac feugiat magna. Donec feugiat quis justo non tempor. Vestibulum pellentesque
            vehicula odio, et pharetra nibh finibus non.</p>
        <p>Sed ornare ante enim, tristique auctor lorem consectetur id. Proin non euismod erat. Phasellus dapibus nisl
            hendrerit orci pretium, feugiat sodales nulla consequat.</p>
        <p>Sed vitae lorem et nisl posuere semper. In egestas, massa sit amet convallis suscipit, erat ex hendrerit
            lorem, id elementum sapien metus lacinia nunc. Mauris magna lacus, commodo in velit a, auctor facilisis
            orci. Nunc vehicula placerat hendrerit. Sed egestas nunc vel nisi tempus ullamcorper. Maecenas hendrerit
            odio consectetur, porttitor metus vel, malesuada lacus.</p>
        <p>Vivamus quis sollicitudin arcu, eget elementum orci. Cras eu urna elit. Praesent justo lacus, lobortis id
            lobortis quis, ornare eget odio. Suspendisse sollicitudin dolor eget metus lacinia porttitor. Phasellus
            tristique porttitor dignissim.</p>
        <h1>Praesent eget vulputate urna</h1>
        <p>Praesent eget vulputate urna. Integer tincidunt mauris sapien, eget hendrerit odio laoreet vitae. Aenean
            dapibus bibendum dolor in mattis. Phasellus varius iaculis magna. Cras nec libero a velit consequat laoreet
            a sit amet ligula.</p>
    </div>

    <div class="gradient-shadow"></div>
    <div class="container shadow-box">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dictum suscipit nulla, ac faucibus neque
            pulvinar nec. Proin condimentum, risus at venenatis ultricies, nulla nibh gravida sem, auctor consectetur
            leo orci a nulla.</p>
        <p>Quisque nec dapibus odio, ac feugiat magna. Donec feugiat quis justo non tempor. Vestibulum pellentesque
            vehicula odio, et pharetra nibh finibus non.</p>
        <p>Sed ornare ante enim, tristique auctor lorem consectetur id. Proin non euismod erat. Phasellus dapibus nisl
            hendrerit orci pretium, feugiat sodales nulla consequat.</p>
        <p>Sed vitae lorem et nisl posuere semper. In egestas, massa sit amet convallis suscipit, erat ex hendrerit
            lorem, id elementum sapien metus lacinia nunc. Mauris magna lacus, commodo in velit a, auctor facilisis
            orci. Nunc vehicula placerat hendrerit. Sed egestas nunc vel nisi tempus ullamcorper. Maecenas hendrerit
            odio consectetur, porttitor metus vel, malesuada lacus.</p>
        <p>Vivamus quis sollicitudin arcu, eget elementum orci. Cras eu urna elit. Praesent justo lacus, lobortis id
            lobortis quis, ornare eget odio. Suspendisse sollicitudin dolor eget metus lacinia porttitor. Phasellus
            tristique porttitor dignissim.</p>
        <h1>Praesent eget vulputate urna</h1>
        <p>Praesent eget vulputate urna. Integer tincidunt mauris sapien, eget hendrerit odio laoreet vitae. Aenean
            dapibus bibendum dolor in mattis. Phasellus varius iaculis magna. Cras nec libero a velit consequat laoreet
            a sit amet ligula.</p>
    </div>
    <div class="gradient-shadow"></div>
    <div class="container shadow-box">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dictum suscipit nulla, ac faucibus neque
            pulvinar nec. Proin condimentum, risus at venenatis ultricies, nulla nibh gravida sem, auctor consectetur
            leo orci a nulla.</p>
        <p>Quisque nec dapibus odio, ac feugiat magna. Donec feugiat quis justo non tempor. Vestibulum pellentesque
            vehicula odio, et pharetra nibh finibus non.</p>
        <p>Sed ornare ante enim, tristique auctor lorem consectetur id. Proin non euismod erat. Phasellus dapibus nisl
            hendrerit orci pretium, feugiat sodales nulla consequat.</p>
        <p>Sed vitae lorem et nisl posuere semper. In egestas, massa sit amet convallis suscipit, erat ex hendrerit
            lorem, id elementum sapien metus lacinia nunc. Mauris magna lacus, commodo in velit a, auctor facilisis
            orci. Nunc vehicula placerat hendrerit. Sed egestas nunc vel nisi tempus ullamcorper. Maecenas hendrerit
            odio consectetur, porttitor metus vel, malesuada lacus.</p>
        <p>Vivamus quis sollicitudin arcu, eget elementum orci. Cras eu urna elit. Praesent justo lacus, lobortis id
            lobortis quis, ornare eget odio. Suspendisse sollicitudin dolor eget metus lacinia porttitor. Phasellus
            tristique porttitor dignissim.</p>
        <h1>Praesent eget vulputate urna</h1>
        <p>Praesent eget vulputate urna. Integer tincidunt mauris sapien, eget hendrerit odio laoreet vitae. Aenean
            dapibus bibendum dolor in mattis. Phasellus varius iaculis magna. Cras nec libero a velit consequat laoreet
            a sit amet ligula.</p>
    </div>




    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">

                <div class="col-xs-12 col-sm-4 col-md-4">


                    <h5>Menu</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="https://antennesb.fr/actualites/">Actualités</a></li>
                        <li><a href="https://antennesb.fr/le-kub/">Le KUB</a></li>
                        <li><a href="https://antennesb.fr/offres-cgv/">Offres CGV</a></li>
                        <li><a href="https://antennesb.fr/contacts/">Contacts</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Nous contacter</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a>Avez-vous une question ?</a></li>
                        <li><a href="mailto:adtraffic@antennereunion.fr"> <strong style="color: red;">Contactez</strong>
                                votre service adtraffic</a></li>


                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Nous trouver</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a>ANTENNE SOLUTIONS BUSINESS</a></li>
                        <li><a>TECHNOPOLE DE LA RÉUNION</a></li>
                        <li><a href="https://www.google.com/search?q=antenne%20reunion&amp;rlz=1C1GCEU_frRE849RE849&amp;oq=antenne+re&amp;aqs=chrome.0.69i59j69i57j69i60l3j69i65.5914j0j1&amp;sourceid=chrome&amp;ie=UTF-8&amp;sxsrf=ACYBGNRBW-nl--l0zjtqFTQ4Cmifg2avrw:1571401275779&amp;npsic=0&amp;rflfq=1&amp;rlha=0&amp;rllag=-20902751,55509281,794&amp;tbm=lcl&amp;rldimm=12468516834403193591&amp;ved=2ahUKEwjsqN725aXlAhXRiFwKHZ6lCSEQvS4wBHoECAsQIA&amp;rldoc=1&amp;tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2&amp;rlst=f#rlfi=hd:;si:12468516834403193591;mv:[[-20.8857776,55.558329],[-20.9064963,55.4438866]];tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2"
                                target="_blank">Adresse:2 rue Emile Hugot - 97490 Sainte-Clotilde, La Réunion</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="https://www.youtube.com/channel/UC_WEqzk6mrdzDCwklbwog_g"
                                target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/company/antenne-reunion-pub"
                                target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- footer end -->





    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script>
        $(window).on("scroll", function () {
            if ($(this).scrollTop() > 10) {
                $("nav.navbar").addClass("mybg-dark");

            } else {
                $("nav.navbar").addClass("mybg-dark");

            }

        });
    </script>

</div>
</body>

</html>