<%- include("../../layouts/manager/head.ejs") -%>

    <!-- support-section start -->
    <div class="col-xl-6 col-md-12">

       
        <div class="card table-card">
            <div class="card-header">
                <h5>Sites</h5>
            </div>
            <div class="pro-scroll">
                <div class="card-body p-0">
                    <div class="table-responsive"></div>
                </div>
            </div>
        </div>

    </div>
    

                                <%- include("../../layouts/manager/footer.ejs") -%>