 <!-- [ breadcrumb ] start -->
 <% if(breadcrumb) { %>
 <div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-header-title">
                    <h5 class="m-b-10"><%= breadcrumb %></h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/manager/">Accueil</a>
                    </li>
                    <li class="breadcrumb-item"><%= breadcrumb %></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% } %>

<!-- [ breadcrumb ] end -->