</div>
<!-- [ Main Content ] end -->
</div>
</div>
<!-- [ Main Content ] end -->

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/assets/js/vendor-all.min.js"></script>
<script src="/assets/js/plugins/bootstrap.min.js"></script>
<script src="/assets/js/plugins/feather.min.js"></script>
<script src="/assets/js/pcoded.min.js"></script>

<script
src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
crossorigin="anonymous"
async="async"></script>
<!-- Apex Chart -->
<script src="/assets/js/plugins/apexcharts.min.js"></script>

<!-- custom-chart js <script src="/assets/js/pages/dashboard-sale.js"></script>
-->
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script
src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>

<script src="/manager/js/manager.js"></script>
<script src="/manager/js/asb-charts.js"></script>
</body>
</html>