</div>
<!-- [ Main Content ] end -->
</div>
</div>
<!-- [ Main Content ] end -->

<!-- Warning Section start -->
<!-- Older IE warning message -->
<!--[if lt IE 11]> <div class="ie-warning"> <h1>Warning!!</h1> <p>You are using
an outdated version of Internet Explorer, please upgrade <br/>to any of the
following web browsers to access this website. </p> <div class="iew-container">
<ul class="iew-download"> <li> <a href="http://www.google.com/chrome/"> <img
src="assets/images/browser/chrome.png" alt="Chrome"> <div>Chrome</div> </a>
</li> <li> <a href="https://www.mozilla.org/en-US/firefox/new/"> <img
src="assets/images/browser/firefox.png" alt="Firefox"> <div>Firefox</div> </a>
</li> <li> <a href="http://www.opera.com"> <img
src="assets/images/browser/opera.png" alt="Opera"> <div>Opera</div> </a> </li>
<li> <a href="https://www.apple.com/safari/"> <img
src="assets/images/browser/safari.png" alt="Safari"> <div>Safari</div> </a>
</li> <li> <a
href="http://windows.microsoft.com/en-us/internet-explorer/download-ie"> <img
src="assets/images/browser/ie.png" alt=""> <div>IE (11 & above)</div> </a> </li>
</ul> </div> <p>Sorry for the inconvenience!</p> </div> <![endif]-->
<!-- Warning Section Ends -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KT6H7LH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

<script
src="https://code.jquery.com/jquery-3.5.1.js"></script>


<!-- Required Js 
<script src="http://localhost:3022/assets/js/vendor-all.min.js"></script>
<script href="http://localhost:3022/assets/js/plugins/bootstrap.min.js"></script>
<script href="http://localhost:3022/assets/js/plugins/feather.min.js"></script>
<script href="http://localhost:3022/assets/js/pcoded.min.js"></script>
-->

<script src="/assets/js/vendor-all.min.js"></script>
<script src="/assets/js/plugins/bootstrap.min.js"></script>
<script src="/assets/js/plugins/feather.min.js"></script>
<script src="/assets/js/pcoded.min.js"></script>
<!-- 
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  

 <script
src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
 <script src="http://localhost:3022/assets/js/plugins/clipboard.min.js"></script> 
 <script src="http://localhost:3022/assets/js/uikit.min.js"></script> 
-->
<!-- Apex Chart -->
<script src="/assets/js/plugins/apexcharts.min.js"></script>

<!-- custom-chart js
<script src="/assets/js/pages/dashboard-sale.js"></script>  -->
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script
src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>

<!-- for the default version -->
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch.umd.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=Promise%2CObject.entries%2CObject.assign"></script>

<script>
    var config = {
        baseurl: "https://reporting.antennesb.fr/" 
    };
</script>

<script src="/manager/js/manager.js"></script>
<script src="/manager/js/asb-charts.js"></script>
</body>

</html>