 <!-- [ Header ] start -->
 <header class="pc-header @@headerclass">
    <div class="header-wrapper">

        <div class="mr-auto pc-mob-drp">
            <ul class="list-unstyled">
                <li class="dropdown pc-h-item">
                    <% if(locals.user.user_role===1) { %>


                        <a
                        class="pc-head-link active dropdown-toggle arrow-none mr-0"
                        href="/automate/advertisers"
                        target="_blank"
                        aria-haspopup="false"
                        aria-expanded="false">
                        <i class="fas fa-sync" style="
                        padding-right: 5px;
                    "></i> Mettre à jour les annonceurs
                    </a>

                    <a
                        class="pc-head-link active dropdown-toggle arrow-none mr-0"
                        href="/automate/campaigns"
                        target="_blank"
                        aria-haspopup="false"
                        aria-expanded="false">
                        <i class="fas fa-sync" style="
                        padding-right: 5px;
                    "></i> Mettre à jour les campagnes
                    </a>

                    <%}%>    
                 
                    <div class="dropdown-menu pc-h-dropdown">
                        <a href="#!" class="dropdown-item">
                            <i class="material-icons-two-tone">account_circle</i>
                            <span>Mon compte</span>
                        </a>
                        <div class="pc-level-menu">
                            <a href="#!" class="dropdown-item">
                                <i class="material-icons-two-tone">list_alt</i>
                                <span class="float-right">
                                    <i data-feather="chevron-right" class="mr-0"></i>
                                </span>
                                <span>Level2.1</span>
                            </a>
                            <div class="dropdown-menu pc-h-dropdown">
                                <a href="#!" class="dropdown-item">
                                    <i class="fas fa-circle"></i>
                                    <span>Mon compte</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="fas fa-circle"></i>
                                    <span>Paramètres</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="fas fa-circle"></i>
                                    <span>Support</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="fas fa-circle"></i>
                                    <span>Écran verrouillé</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="fas fa-circle"></i>
                                    <span>Déconnexion</span>
                                </a>
                            </div>
                        </div>
                        <a href="#!" class="dropdown-item">
                            <i class="material-icons-two-tone">settings</i>
                            <span>Paramétres</span>
                        </a>
                        <a href="#!" class="dropdown-item">
                            <i class="material-icons-two-tone">support</i>
                            <span>Support</span>
                        </a>
                        <a href="#!" class="dropdown-item">
                            <i class="material-icons-two-tone">https</i>
                            <span>Écran verrouillé</span>
                        </a>
                        <a href="/logout" class="dropdown-item">
                            <i class="material-icons-two-tone">chrome_reader_mode</i>
                            <span>Déconnexion</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ml-auto">
            <ul class="list-unstyled">
                <li class="dropdown pc-h-item">
                    <a
                        class="pc-head-link dropdown-toggle arrow-none mr-0"
                        data-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-haspopup="false"
                        aria-expanded="false">
                        <i class="material-icons-two-tone">search</i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right pc-h-dropdown drp-search">
                        <form class="px-3" method="GET" action="manager/search">
                            <div class="form-group mb-0 d-flex align-items-center">
                                <i data-feather="search"></i>
                                <input
                                    type="search"
                                    class="form-control border-0 shadow-none"
                                    placeholder="Recherchez. . .">
                            </div>
                        </form>
                    </div>
                </li>
                <li class="dropdown pc-h-item">
                    <a
                        class="pc-head-link dropdown-toggle arrow-none mr-0"
                        data-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-haspopup="false"
                        aria-expanded="false">
                        <img src="/../../assets/images/user/avatar.jpg" alt="user-image" class="user-avtar">
                        <span>
                            <span class="user-name"><%= locals.user.user_firstname %> <%= locals.user.user_lastname %></span>
                            <span class="user-desc">                            
                                <% switch(locals.user.user_role) { 
                                    case 1: %>Administrateur<% break; 
                                    case 2: %>Commercial<% break;
                                    default: %>
                                        -
                                <% break; }  %>
                            </span>
                        </span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
                        <a href="/logout" class="dropdown-item">
                            <i class="material-icons-two-tone">chrome_reader_mode</i>
                            <span>Déconnexion</span>
                        </a>
                    </div>

                </li>
            </ul>
        </div>

    </div>
</header>
<!-- [ Header ] end -->