<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="index.html" class="b-brand">
                <img href="../../assets/images/logo.svg" alt="" class="logo logo-lg">
                <img href="../../assets/images/logo-sm.svg" alt="" class="logo logo-sm"></a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item pc-caption">
                    <label>Navigation</label>
                </li>
                <li class="pc-item">
                    <a href="/manager/" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">home</i>
                        </span>
                        <span class="pc-mtext">Tableau de bord</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="/forecast" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">navigation</i>
                        </span>
                        <span class="pc-mtext">Forecast</span>
                    </a>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">content_paste</i>
                        </span>
                        <span class="pc-mtext">Campagnes</span>
                        <span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/campaigns/">Accueil</a>
                        </li>
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/campaigns/list">Liste des campagnes</a>
                        </li>
                       <!-- <li class="pc-item">
                            <a class="pc-link" href="/manager/campaigns/create">Ajouter d'une campagne</a>
                        </li>-->
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/campaigns/epilot/list">Liste des campagnes EPILOT</a>
                        </li>
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/campaigns/epilot/create">Ajouter d'une campagne EPILOT</a>
                        </li>   
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/campaigns/gam/list">Liste des campagnes Google Admanger</a>
                        </li>       
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/campaigns/tv/list">Liste des campagnes TV</a>
                        </li>                 
                        </li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">add</i>
                        </span>
                        <span class="pc-mtext">Insertions</span>
                        <span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <!-- <li class="pc-item">
                            <a class="pc-link" href="/manager/insertions/">Accueil</a>
                        </li>  -->
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/insertions/list">Liste des insertions</a>
                        </li>
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/insertions/create">Ajouter d'une insertion</a>
                        </li>                       
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">store</i>
                        </span>
                        <span class="pc-mtext">Annonceurs</span>
                        <span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/advertisers/">Accueil</a>
                        </li>
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/advertisers/list">Liste des annonceurs</a>
                        </li>
                        <!--<li class="pc-item">
                            <a class="pc-link" href="/manager/advertisers/create">Ajouter d'un annonceur</a>
                        </li>-->
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">picture_in_picture</i>
                        </span>
                        <span class="pc-mtext">Formats</span>
                        <span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/formats/list">Liste des formats</a>
                        </li>
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/formats/groups">Groupes de formats</a>
                        </li>
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">contacts</i>
                        </span>
                        <span class="pc-mtext">Utilisateurs</span>
                        <span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/users/list">Liste des utilisateurs</a>
                        </li>
                        <!-- <li class="pc-item">
                            <a class="pc-link" href="/manager/users/create">Ajouter un utilisateur</a>
                        </li>
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/users/roles">Liste des roles</a>
                        </li> -->
                    </ul>
                </li>

               
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">web</i>
                        </span>
                        <span class="pc-mtext">Sites</span>
                        <span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/sites/list">Liste des sites / applis</a>
                        </li>
                        <!-- <li class="pc-item">
                            <a class="pc-link" href="/manager/sites/packs">Liste des packs</a>
                        </li> -->
                    </ul>
                </li>
                
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">next_week</i>
                        </span>
                        <span class="pc-mtext">Agences</span>
                        <span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/agencies/list">Liste des agences</a>
                        </li>
                    </ul>
                </li>
               
               
                <!-- <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon">
                            <i class="material-icons-two-tone">flag</i>
                        </span>
                        <span class="pc-mtext">Pays</span>
                        <span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item">
                            <a class="pc-link" href="/manager/countries/list">Liste des pays</a>
                        </li>
                    </ul>
                </li>     -->
            </ul>
        </div>
    </div>
</nav>