<%- include("../layouts/admin/head.ejs") -%>

<div id="card-forecast" class="card">
	<div class="card-header">
		<h4 class="card-title">
			Update annonceur
		</h4>
	</div>
	<div class="card-body">
		<form action="http://127.0.0.1:3000/api/manager/crud/update/<%=advertiser.advertiser_id%>" id="manager" method="POST">

			<div class="form-group">
				<label for="advertiser_name">Nom de la campagne </label>
				<input type="name" class="form-control" name="advertiser_name" id="advertiser_name" value="<%=advertiser.advertiser_name %>"
					required>
			</div>




	</div>
	<div class="card-footer bg-transparent border-success justify-content-center d-flex">
		<div class="col-sm-12 text-right">
			<input type="submit" name="submit" class="btn btn-block btn-primary" value="Valider" />
		</div>
	</div>
	</form>
</div>

<%- include("../layouts/admin/footer.ejs") -%>