<%- include("../layouts/admin/head.ejs") -%>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h2 class="h2 mb-0 text-gray-800">Annonceurs</h2>
</div>

<p>Liste des annonceurs sur SmartAdverser</p>

<%- include('../inc/table_advertisers.ejs', {advertisers:advertisers}) -%>
  
<%- include("../layouts/admin/footer.ejs") -%>