<%- include("../../layouts/manager/head.ejs") -%>
    <!-- support-section start -->
    <div class="col-xl-12 col-md-12">

        <div class="card">
            <form method="POST" action="/manager/campaigns/create">
            <div class="card-header">
                <h5>Créer une campagne</h5>
            </div>
            <div class="card-body">

                <div class="alert alert-primary">
                    <div class="media align-items-center">
                        <i class="feather icon-alert-circle h2"></i>
                        <div class="media-body ml-3">
                            Créer une campagne sur SMARTADSERVER en toute simplicité.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="advertiser_id">Annonceur
                    </label>
                    <select
                        class="form-control"
                        id="advertiser_id"
                        name="advertiser_id"
                        required="required">
                        <option value="">Choisir un annonceur</option>
                        <% for (let i=0; i < advertisers.length; i++) { %>
                            <option value="<%= advertisers[i].advertiser_id %>"><%= advertisers[i].advertiser_name %></option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label" for="campaign_name">Nom de la campagne</label>
                    <input
                        type="text"
                        name="campaign_name"
                        id="campaign_name"
                        class="form-control"
                        placeholder="Saisissez le nom de la campagne"
                        required="required"/>
                </div>

                <div class="form-group">
                    <label class="form-label" for="campaign_start_date">Date de début de la campagne</label>
                    <input
                        type="datetime-local"
                        name="campaign_start_date"
                        id="campaign_start_date"
                        class="form-control"
                        placeholder="Saisissez la date de début de la campagne"
                        required="required"/>
                </div>

                <div class="form-group">
                    <label class="form-label" for="campaign_end_date">Date de fin de la campagne</label>
                    <input
                        type="datetime-local"
                        name="campaign_end_date"
                        id="campaign_end_date"
                        class="form-control"
                        placeholder="Saisissez la date de fin de la campagne"
                        required="required">
                </div>

            </div>
            <div class="card-footer">
                <input
                    type="submit"
                    name="submit"
                    class="btn btn-primary mr-2 btn-submit"
                    value="Créer une nouvelle campagne"/>
            </div>
        </form>
        </div>

    </div>

    <%- include("../../layouts/manager/footer.ejs") -%>