<%- include("../../layouts/manager/head.ejs") -%>
    <!-- support-section start -->
    <div class="col-xl-12 col-md-12">

        <div class="card">
            <form method="POST" action="/manager/campaigns/epilot/create">
            <div class="card-header">
                <h5>Créer une campagne EPILOT</h5>
            </div>
            <div class="card-body">

                <div class="alert alert-primary">
                    <div class="media align-items-center">
                        <i class="feather icon-alert-circle h2"></i>
                        <div class="media-body ml-3">
                          La campagne EPILOT permet de vérifier et confirmer que la campagne SMARTADSERVER diffuse correctement.
                        </div>
                    </div>
                </div>

                <%- include("../inc/form_campaign_epilot.ejs") -%>

        </form>
        </div>

    </div>

    <%- include("../../layouts/manager/footer.ejs") -%>