<%- include("../../layouts/manager/head.ejs") -%>

<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h1>Campagnes Epilot</h1>
        </div>
        <div class="pro-scroll">
            <div class="card-body p-0">
                <%- include("../inc/table_campaigns_epilot.ejs") -%>
            </div>
        </div>
    </div>
</div>

<%- include("../../layouts/manager/footer.ejs") -%>