<%- include("../layouts/manager/head.ejs") -%>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>Erreur</h1>
            </div>
            <div class="card-body">

                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Aïe !</h4>
                    <p>Cette page n'existe pas. Veuillez contacter l'administrateur du site.</p>
                </div>

            </div>
        </div>
    </div>

    <%- include("../layouts/manager/footer.ejs") %>