<%- include("../../layouts/manager/head.ejs") -%>

<!-- support-section start -->
<div class="col-md-12">

    <div class="col-md-12">

        <div class="card table-card">
            <div class="card-header">
                <h5>Répartitions des formats</h5>
            </div>
            <div class="pro-scroll">
                <div class="card-body p-3">
                    <div class="col-md-6">
                        <div id="chart-formats"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>




    <%- include("../../layouts/manager/footer.ejs") -%>