<%- include("../../layouts/manager/head.ejs") -%>
<!-- support-section start -->
<div class="col-xl-12 col-md-12">

     <!--<div class="card">
        <div class="card-header">
            <h5>Créer une campagne EPILOT</h5>
        </div>


       <form method="POST" action="/manager/campaigns/epilot/create">

            <div class="card-body">

                <div class="alert alert-primary">
                    <div class="media align-items-center">
                        <i class="feather icon-alert-circle h2"></i>
                        <div class="media-body ml-3">
                            La campagne EPILOT permet de vérifier et confirmer que la campagne SMARTADSERVER diffuse
                            correctement.
                        </div>
                    </div>
                </div>


                <%- include("../inc/form_campaign_epilot.ejs") -%>

        </form>-->

    </div>


    <div class="card">
        <div class="card-header">
            <h5>Importer des campagnes EPILOT</h5>
        </div>

        <form action="import" method="POST" enctype="multipart/form-data">
            <div class="card-body">              
                <div class="alert alert-primary">
                    <div class="media align-items-center">
                        <i class="feather icon-alert-circle h2"></i>
                        <div class="media-body ml-3">
                            Importer des campagnes EPILOT avec un fichier CSV
                        </div>
                    </div>
                </div>
               
                <%- include("../inc/message.ejs") -%>

                <div class="form-group col-6">
                    <label class="form-label" for="epilot_file">Fichier</label>
                    <input
                        type="file"
                        name="epilot_file"
                        id="epilot_file"
                        class="form-control"
                        placeholder="Uploader un fichier CSV"
                        required="required"
                        />
                </div>
            </div>
                <div class="card-footer">
                    <input
                        type="submit"
                        name="submit"
                        class="btn btn-primary mr-2 btn-submit"
                        value="Importer"/>
                </div>

        </form>

    </div>

    <%- include("../../layouts/manager/footer.ejs") -%>