<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp" />
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">
  <link rel="shortcut icon" href="favicon.png" type="image/png">
  <!-- visualiseur image -->

  <link rel="stylesheet" href="/admin/css/lightbox.min.css">
  <link rel="stylesheet" href="/admin/css/lightbox.css">



  <title>Administration &middot; </title>
  <link rel="icon" type="image/png"
    href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-32x32.png"
    sizes="32x32" />
  <link rel="icon" type="image/png"
    href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-192x192.png"
    sizes="192x192" />
  <link rel="apple-touch-icon" type="image/png"
    href="https://antennesb.fr/wp-content/uploads/2020/02/cropped-Logo-AntenneSolutionsBusiness-coul01-2-180x180.png" />

  <%- include ('css.ejs') -%>
  <style>
    body {
      background: #eee;
      font-family: Century Gothic, Verdana, Geneva, Tahoma, sans-serif
    }

    #reporting-board {
      background: #fff
    }

    hr {
      margin-top: 10px;
      border-color: #ddd;
    }

    .list-group-flush {
      width: 100%
    }

    .list-group-flush li strong {
      width: 20%;
      display: inline-block
    }

    img {
      image-rendering: -webkit-optimize-contrast
    }
  </style>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCLMFB5" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <%- include ("navbar.ejs") -%>



  <main class="container">