<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp" />
  <link rel="shortcut icon" href="favicon.png" type="image/png">
  <title>Administration &middot; </title>
  <%- include ('css.ejs') -%>
  <%- include ('js.ejs') -%>
</head>

<body>
  <%- include ("navbar.ejs") -%>



<main class="container">