<nav class="navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="nav justify-content-end">


    <li class="nav-item text-white">
      <a class="nav-link text-white" href=<% if(locals.user.user_role === 2 || locals.user.user_role === 3) { %>
        /forecast
        <%} else { %>
        /manager
        <%}%>

        
        ><i class="fas fa-arrow-left"
          style="font-size: medium;padding-right: 10px;"></i>Accueil</a>
    </li>
    <% if(locals.user.user_email) { %>


    <li class="nav-item text-white">
      <a class="nav-link text-white" href="/logout">Déconnexion</a>
    </li>
    <%}%>
  
    </ul>
  </nav>

  <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
      <ul class="navbar-nav text-white">

    <% if(locals.user.user_role === 3) { %>
    <li class="nav-item text-white">
      <a class="nav-link text-white" href="/forecast">Forecast</a>
    </li>
    <li class="nav-item text-white">
      <a class="nav-link text-white" href="/utilisateur/campagne_epilot">Campagne_epilot</a>
    </li>
    <%}%>
    <% if(locals.user.user_role === 2) { %>
      <li class="nav-item text-white">
        <a class="nav-link text-white" href="/forecast">Forecast</a>
      </li>
   
      <%}%>

   <% if(locals.user.user_role === 1) { %>

  
    <li class="nav-item text-white">
      <a class="nav-link text-white" href="/forecast">Forecast</a>
    </li>
 
    <li class="nav-item text-white">
      <a class="nav-link text-white" href="/manager/">Manager</a>
    </li>

    <%}%>
             
            </ul>

        
      </div>
    </div>
</div>